<footer class="p-4">
<div class="container">
  <div class="row">
    <div class="col-12 text-light text-center">
      <p class="mb-0">Copyright &copy 2020 getSum(education). All Rights Reserved.</p>
      <small>
        <a href="https://github.com/torqie" target="_blank">Jeffery Hone</a> |
        <a href="https://github.com/jonmeidell" target="_blank">Jonathan Meidell</a> |
        <a href="https://github.com/Leoleo158" target="_blank">Leo Gervilla</a> |
        <a href="https://github.com/jonnysuarez" target="_blank">Jonny Suarez</a>
      </small>
    </div>
  </div>
</div>
</footer>