<div id="home">
  <header class="home-banner text-center">
    <img src="/images/brainlogo.svg" alt="brains" />
  </header>

  <div class="container">

    <!--Stats-->
    <div class="row">
      <div class="col-12">
        <ul id="stats" class="row list-unstyled justify-content-center">
          <li class="stat views">
            <svg class="bi bi-eye" width="2rem" height="2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
              <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg>
            <h3 id="total-views">{{total_views}}</h3>
            <span>Tutorials Viewed</span>
          </li>
          <li class="stat">
            <svg class="bi bi-braces" width="2rem" height="2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
            </svg>
            <h3 id="total-tutorials">{{total_tutorials}}</h3>
            <span>Tutorials</span>
          </li>
          <li class="stat">
            <svg class="bi bi-person-bounding-box" width="2rem" height="2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
              <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <h3 id="total-users">{{userCount}}</h3>
            <span>Users</span>
          </li>
        </ul>
      </div>
    </div>
    <!--End: Stats-->

    <div id="learn-mern">
      <div class="row mb-5">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center" data-aos="zoom-in">
          <h2 >What Will You Learn Next</h2>
          <p>Whether you would like to learn a popular stack like MERN, A new skill like Vue, or brush up on a current
            skill, we've got you covered.</p>
        </div>
      </div>


      <div class="row mb-5">
      <!--MongoDB-->
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up">
          <div class="skill-card">
            <div class="skill-card-top">
              <a href="#" class="">
                <img src="/images/mongo-card-bg.png" width="100%" />
              </a>
            </div>

            <div class="skill-card-meta">
              <div class="row text-center">
                <div class="tutorials col">
                  <h3 id="mongo-tutorials-count" class="mb-0 pb-0">25</h3>
                  <span class="text-uppercase">Tutorials</span>
                </div>
                <div class="views col">
                  <h3 id="mongo-tutorials-views" class="mb-0 pb-0">745</h3>
                  <span class="text-uppercase">Views</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Express-->
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up">
          <div class="skill-card">
            <div class="skill-card-top">
              <a href="#" class="">
                <img src="/images/express-card-bg.png" width="100%" />
              </a>
            </div>

            <div class="skill-card-meta">
              <div class="row text-center">
                <div class="tutorials col">
                  <h3 id="express-tutorials-count" class="mb-0 pb-0">28</h3>
                  <span class="text-uppercase">Tutorials</span>
                </div>
                <div class="views col">
                  <h3 id="express-tutorials-views" class="mb-0 pb-0">1745</h3>
                  <span class="text-uppercase">Views</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--React-->
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up">
          <div class="skill-card">
            <div class="skill-card-top">
              <a href="#" class="">
                <img src="/images/react-card-bg.png" width="100%" />
              </a>
            </div>

            <div class="skill-card-meta">
              <div class="row text-center">
                <div class="tutorials col">
                  <h3 id="react-tutorials-count" class="mb-0 pb-0">25</h3>
                  <span class="text-uppercase">Tutorials</span>
                </div>
                <div class="views col">
                  <h3 id="react-tutorials-views" class="mb-0 pb-0">745</h3>
                  <span class="text-uppercase">Views</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Node-->
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up">
          <div class="skill-card">
            <div class="skill-card-top">
              <a href="#" class="">
                <img src="/images/nodejs-card-bg.png" width="100%" />
              </a>
            </div>

            <div class="skill-card-meta">
              <div class="row text-center">
                <div class="tutorials col">
                  <h3 id="nodejs-tutorials-count" class="mb-0 pb-0">25</h3>
                  <span class="text-uppercase">Tutorials</span>
                </div>
                <div class="views col">
                  <h3 id="nodejs-tutorials-views" class="mb-0 pb-0">745</h3>
                  <span class="text-uppercase">Views</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-6 mb-5">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center" data-aos="zoom-in">
        <h2 >Check Out What Other People Are Viewing</h2>
        <p>Keeping up with the trends is hard we are here to help. Here are the popular items other people are viewing.</p>
      </div>
    </div>

    <div id="top-tuts" class="row">

      {{#each topTutorials}}
        {{>components/tutorials/tutorial-card this}}
      {{/each}}
    </div>


  </div>

</div>

{{#section 'script'}}

  <script type="application/javascript">

    $(document).ready(function() {

      $.get('/api/counts/users', function(userCount) {
        $('#total-users').html(userCount);
      });
      $.get('/api/counts/views', function(viewsCount) {
        $('#total-views').html(viewsCount);
      });
      $.get('/api/counts/tutorials', function(tutorialCount) {
        $('#total-tutorials').html(tutorialCount);
      });
      $.get('/api/counts/mongo/tutorials', function(tutorialCount) {
        $('#mongo-tutorials-count').html(tutorialCount);
      });
      $.get('/api/counts/mongo/views', function(tutorialCount) {
        $('#mongo-tutorials-views').html(tutorialCount);
      });

      $.get('/api/counts/express/tutorials', function(tutorialCount) {
        $('#express-tutorials-count').html(tutorialCount);
      });
      $.get('/api/counts/express/views', function(tutorialCount) {
        $('#express-tutorials-views').html(tutorialCount);
      });

      $.get('/api/counts/react/tutorials', function(tutorialCount) {
        $('#react-tutorials-count').html(tutorialCount);
      });
      $.get('/api/counts/react/views', function(tutorialCount) {
        $('#react-tutorials-views').html(tutorialCount);
      });

      $.get('/api/counts/nodejs/tutorials', function(tutorialCount) {
        $('#nodejs-tutorials-count').html(tutorialCount);
      });
      $.get('/api/counts/nodejs/views', function(tutorialCount) {
        $('#nodejs-tutorials-views').html(tutorialCount);
      });
    });
  </script>

{{/section}}