  <div class="row">
    <div class="col">
      <h1>Users</h1>
      {{#each users}}
        {{> components/tutorials/tutorial-card title=title}}
      {{/each}}
    </div>
    <span class="blue">gitSum</span><span class="gray">(</span><span class="red">money</span><span class="gray">)</span>
  </div>
