.navbar {
  background-color: #f6f6f6;
  height: 90px;
  font-family: "Ubuntu Mono", sans-serif;
  text-transform: uppercase;
  font-size: .95rem;
}

.navbar-light .nav-item .nav-link {
  color: #919191;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
  color: #e06c75;
}

.dropdown-menu {
  font-size: 14px;
  margin-top:-5px;
}

.dropdown-item.active {
  background: #e06c75;
}

.dropdown-item {
  color: #636363;
}


@media(min-width: 992px) {
  li.dropdown:hover > .dropdown-menu {
    display: block;
  }
  .v-separator-left{
    border-left: 1px solid #e1e1e1;
  }
  .v-separator-right {
    border-right: 1px solid #e1e1e1;
  }
}

@media (max-width: 991.98px) {

  .dropdown-menu {
    background-color: transparent;
    border: 0;
    border-left: 2px solid #e06c75;
    border-radius: 2px;
  }

  .navbar-collapse {
    position: absolute;
    top: 90px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    min-height: calc(100vh - 90px);
    background-color: rgba(255, 255, 255, .9);
    z-index: 1000;

  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }

}
