<div class="container">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">id</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="id">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">user_id</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="user_id">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Category id</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Content Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="content Title">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Tuturoial textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1">Tutorial file upload</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form>
    </div>
  </div>
</div>

