<div id="auth-modal" tabindex="-1" role="dialog" class="modal fade text-left">
  <div role="document" class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body p-0">
        <ul id="auth-tabs" class="nav nav-tabs nav-justified">
          <li class="nav-item"><a href="#login-tab" data-target="#login-tab" data-toggle="tab" class="nav-link small text-uppercase">Login</a></li>
          <li class="nav-item"><a href="#register-tab" data-target="#register-tab" data-toggle="tab" class="nav-link small text-uppercase">Register</a></li>
        </ul>
        <div id="tabsContent" class="tab-content py-3">

            <div id="login-tab" class="tab-pane fade show">
              <div class="container">

                  <div class="row error">
                    <div class="col">
                      <div class="alert alert-danger">
                        Username/Password incorrect.
                      </div>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-12">
                    <form id="login-form" data-parsley-validate>
                      <div class="form-group">
                        <label for="login_email">Email:</label>
                        <input type="email" id="login_email" name="login_email" class="form-control" required>
                      </div>

                      <div class="form-group">
                        <label for="login_password">Password:</label>
                        <input type="password" id="login_password" name="login_password" class="form-control" required>
                      </div>

                      <div class="form-group float-right mb-0">
                        <button type="submit" class="btn btn-primary">Login</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>

            <div id="register-tab" class="tab-pane fade">
              <div class="container">
                <div class="row error">
                  <div class="col">
                    <div class="alert alert-danger">

                    </div>
                  </div>
                </div>

                <div class="row pb-2">
                  <div class="col-12">
                    <form id="register-form" action="/api/register" method="post" data-parsley-validate>
                      <div class="form-group">
                        <label for="register_firstName">First Name:</label>
                        <input type="text" id="register_firstName" name="register_firstName" class="form-control" required>

                      </div>


                      <div class="form-group">
                        <label for="register_lastName">Last Name:</label>
                        <input type="text" id="register_lastName" name="register_lastName" class="form-control" required>

                      </div>


                      <div class="form-group">
                        <label for="register_email">Email:</label>
                        <input type="email" id="register_email" name="register_email" class="form-control" required>

                      </div>

                      <div class="form-group">
                        <label for="register_password">Password:</label>
                        <input type="password" id="register_password" name="register_password" class="form-control"
                               data-parsley-required="true"
                               data-parsley-pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                               data-parsley-pattern-message="Password must be at least 8 characters, with at least one letter and one number."
                        />
                      </div>


                      <div class="form-group">
                        <label for="register_password_confirm">Confirm Password:</label>
                        <input type="password" id="register_password_confirm" name="register_password_confirm" class="form-control"
                               data-parsley-required="true"
                               data-parsley-equalto="#register_password"
                               data-parsley-equalto-message="Your passwords do not match."
                        />
                      </div>


                      <div class="form-group float-right mb-0">
                        <button type="submit" class="btn btn-primary">Register</button>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
