<div id="search-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form id="search-form">
          <div class="input-group">
            <input id="search" name="search" type="search" class="form-control form-control-lg border border-right-0 form-control-borderless" placeholder="Search for tutorials...">
            <div class="input-group-append">
              <button id="search-button" name="search-button" class="btn btn-lg btn-outline-secondary border border-left-0 form-control-borderless" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>

        <!-- Search Results -->
        <ul id="search-results" class="list-unstyled">

        </ul>
      </div>
    </div>
  </div>
</div>


