.btn {
  font-family: 'Ubuntu Mono', monospace;
}
h1, h2, h3, h4, h5, h6, label, .btn {
  text-transform: uppercase;
}

label {
  color: #808080;
  font-size: .9rem;
}

#logo {
  font-family: 'Ubuntu Mono', monospace;;
  font-size: 2rem;
  text-transform: initial;
}

#logo .blue {
  color: #5FA4E8;
}

#logo .red {
  color: #D86D74;
}

#logo .gray {
  color: #606060
}

.list-group-item {
  line-height: 2.5;
}


.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.form-control {
  transition: all 0.5s ease-in-out;
  color: #50757D;
  box-shadow: 1px 1px 3px 1px #50757D;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}



.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  border-bottom: 0;
  color: gray;
}


#auth-modal  #auth-tabs  .nav-item  a{
  color: #808080;
  font-size: 1.025rem;
  font-family: "Ubuntu Mono", sans-serif;
  background-color: #f7f7f7;
}
#auth-modal  #auth-tabs  .nav-item  a.active{
  color: #e06c75;
  background-color: #ffffff;
  border-bottom: 0;

}

@media screen and (max-width: 768px) {
  .tabs h6 {
    font-size: 12px
  }
}

#search-results:hover {
  background-color: #949494;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 1px 3px 1px rgba(51, 54, 58, 0.5);
}
#search-results:nth-child {
  background-color: rgb(227, 244, 255);
}
#search-results:nth-child:hover {
  background-color: rgb(132, 159, 179);
}

#submit:hover {
  transition: all 0.4s ease-in-out;
  color: #f0e4e4;
  box-shadow: 1px 1px 3px 1px rgba(51, 54, 58, 0.5);
}