.btn {
  font-family: 'Ubuntu Mono', monospace;
}
h1, h2, h3, h4, h5, h6, label, .btn {
  text-transform: uppercase;
}

label {
  color: #808080;
  font-size: .9rem;
}




.list-group-item {
  line-height: 2.5;
}

.form-control:hover, .form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
}



#logo {
  font-family: 'Ubuntu Mono', monospace;;
  font-size: 2rem;
  text-transform: initial;

  .blue {color: #5FA4E8}
  .red {color: #D86D74}
  .gray {color: #606060}
}

@media screen and (max-width: 768px) {
  #logo  {
    font-size: 1.55rem;
  }
}



