html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 240px;
  min-height: 100%;

}
pre code {
  white-space: pre;
  overflow-x: auto;
  display: inline-block;
  min-width: 100%;
}
.hljs {
  overflow-x: auto;
  display: inline-block;
  min-width: 100%;
}
.btn {
  font-family: "Ubuntu Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.btn {
  text-transform: uppercase;
}

label {
  color: #808080;
  font-size: 0.9rem;
}


.list-group-item {
  line-height: 2.5;
}


.form-control:hover,
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
}

#noSearch {
  color: #f6f6f6;
  text-align: center;
  background-color: #e3342f;
}

.skill-card-top {
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 #b5b5b5;
  transition: transform 0.4s;
  &:hover {
    transform: translate(0px, -5px);
  }
}

#logo {
  font-family: 'Ubuntu Mono', monospace;;
  font-size: 2rem;
  text-transform: initial;
  .blue {color: #5FA4E8}
  .red {color: #D86D74}
  .gray {color: #606060}
}

@media screen and (max-width: 768px) {
  #logo {
    font-size: 1.5rem;
  }
}

