.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  border-bottom: 0;
  color: gray;
}

#auth-modal  #auth-tabs  .nav-item  a{
  color: #808080;
  font-size: 1.025rem;
  font-family: "Ubuntu Mono", sans-serif;
  background-color: #f7f7f7;
}
#auth-modal  #auth-tabs  .nav-item  a.active{
  color: #e06c75;
  background-color: #ffffff;
  border-bottom: 0;
}

@media screen and (max-width: 768px) {
  .tabs h6 {
    font-size: 12px
  }
}