footer {
  margin-top:160px;
  background: #1d68a7;
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  color: rgba(218, 218, 218, 1);
  a {
    color: rgba(218, 218, 218, 1);
    &:hover {
      color: rgb(231, 231, 231);
    }
  }
}