.skill-card {


  .skill-card-top {
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 #b5b5b5;
    transition: transform 0.4s;
    &:hover {
      transform: translate(0px, -5px);
    }
  }
  .card-img {
    border-radius: 15px;
  }

  .skill-card-meta {
    padding: 13px 0 5px 0;
    border: 1px solid #fff;
    border-top: 0;
    -o-border-image: url(/images/long-dash-border.svg) 1 round;
    border-image: url(/images/long-dash-border.svg) 1 round;
    position: relative;
    top:-4px;
    color: #666464;

    span {
      color: #ababab;
      font-size: .6rem;
      line-height: .6rem;
      position: relative;
      top: -6px;
    }


    .tutorials {
      border-right: 1px solid #dadada;
    }

  }

}